@media (max-width:1550px) {
    .slide_1 .categ_img,
    .slide_2 .categ_img {
        /* padding: 10px 5px; */
        width: 250px;
    }
}

@media (max-width : 1500px){
    .slide_1 .categ_img,
    .slide_2 .categ_img {
        /* padding: 10px 5px; */
        width: 270px;
    }
}


@media (max-width: 1430px) {

    .slide_1 .categ_img,
    .slide_2 .categ_img {
        /* padding: 10px 5px; */
        width: 270px;
    }
    
}

@media (max-width: 1370px) {

    .slide_1 .categ_img,
    .slide_2 .categ_img {
        width: 250px;
    }
}

@media (max-width: 1290px) {
    /* Remove feature */
    .features .container .feature_item:last-child {
        display: none;
    }

    .slide_1 .categ_img,
    .slide_2 .categ_img {
        width: 240px;
    }

    .slide_1 .swiper-slide{
        /* min-width: 130px ; */
    }
}

@media (max-width: 1200px) {
    /* Slider */
    .slider .container .mySwiper {
        width: 60%;
    }

    .slide_1 .categ_img,
    .slide_2 .categ_img {
        width: 230px;
    }

    /* remove imgs */
    .slide_1 .categ_img{
        display: none;
    }

    .slide_2 a img{
        display: none;
    }

    .slide_1 .mySwiper,
    .slide_2 .mySwiper{
        width: 100%;
    }

    .slide_1 .product_swip {
        /* width: 100%; */
    }
}

@media (max-width: 1080px) {
    /* Remove feature */
    .features .container .feature_item:nth-last-child(4) {
        display: none;
    }

    /* on sale products slider */
    .slide {
        margin-bottom: 0.6rem;
    }
}

@media (max-width: 992px) {
    /* To disable all hovering  */
    /* *:hover {
        pointer-events: none;
    } */

    /* Slider */
    .slider .container .side_bar {
        display: none;
    }

    /* on sale products slider */
    .slide {
        margin-bottom: 1.6rem;
    }

    .slider .container .mySwiper {
        width: 100%;
    }

    /* Slider products  */
    .slide_1 .categ_img{
        display: none;
    }

    .slide_2 a img{
        display: none;
    }

    .slide_1 .mySwiper,
    .slide_2 .mySwiper{
        width: 100%;
    }

    
}


@media (max-width: 800px) {
    /* Remove feature */
    .features .container {
        display: none;
    }
    
    /* first banners */
    .banner {
        margin-bottom: 0;
    }
    
    /* on sale products slider */
    .slide {
        margin-bottom: 0.6rem;
    }
    
    /* second banner */
    .banner_2{
        margin-top: 0;
    }
}


@media (max-width: 600px) {
    h1, h2, h3, h4,h5, h6, p, span, strong, a, li, button, input, label{
        font-size: smaller;
    }

    .product .sales_discount{
        font-size: 0.7rem;
    }

    .banner .banner_img:last-child{
        display: none;
    }

    .banner .banner_img{
        flex: 1;
        
    }
    

    .banner .respo-banner{
        display: flex;
        width: calc(50% - 0.5rem);
    }

    .banner .banner_img:first-child{
        margin-right: 0.5rem;
    }

    

    /* Btn Swipers  */
    .slide .container .mySwiper .btn_Swip::after{
        font-size: 15px;
        /* margin-bottom: 0; */
        padding: 0.5rem;
    }

    

    
}

@media (max-width:431px) {
    .banner{
        margin-top: -2rem;
    }

    .slide_2 .top_slide{
        margin-top: -2rem;
    }

    .slide h2{
        font-size: larger;
    }
}